{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Home</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">PALAWAN STATE UNIVERSITY</div>
                        <div class="card-category">MEMBERS</div>
                    </div>
                    <div class="card-body">Joseph Baria<br/>John Aivanne Molato</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}